<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Top Up Balance</title>
</head>
<body>
  <h1>Top Up Balance</h1>
      <form action="" method="post">
        <div>
          <label for="">Balance</label>
          <input type="number" name="balance">
        </div>
        <button type="submit">Top Up</button>
      </form>
</body>

</html>