<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Add Product</h1>
      <form action="" method="post">
        <div>
          <label for="">Name Product</label>
          <input type="text" name="nameProduct">
        </div>
        <div>
          <label for="">Image Product</label>
          <input type="text" name="imgProduct">
        </div>
        <div>
          <label for="">Price</label>
          <input type="number" name="price">
        </div>
        <div>
          <label for="">Description</label>
          <input type="text" name="description">
        </div>
        <div>
          <label for="">Stock</label>
          <input type="number" name="stock">
        </div>
        <button type="submit">Add Product</button>
      </form>
</body>

</html>