<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FORM REGISTER</title>
  <link rel="stylesheet" href="../assets/styles.css">
</head>

<body>
  <div class="container">
    <input type="text" />
    <form action="" method="get" class="form-example">
      <label for="name">Username</label>
      <input class="border-y-stone-950" type="text" name="name" id="name" required />
      <div class="form-example">
        <input type="submit" value="Subscribe!" />
      </div>
    </form>
  </div>
</body>

</html>